<!--CUSTOM--> 
{% assign color_string = "" %}
{% assign color_position = 0 %}
{% assign number_of_colors = 0 %}

{% assign design_string = "" %}
{% assign design_position = 0 %}
{% assign number_of_designs = 0 %}

{% assign style_string = "" %}
{% assign style_position = 0 %}
{% assign number_of_styles = 0 %}

{% assign variant_titles = product.variants | map: 'title' %}

{% for option in product.options %}
    {% if option == "Color" %}
        {% assign color_position = forloop.index %}
    {% elsif option == "Design" %}
        {% assign design_position = forloop.index %}
    {% elsif option == "Style" %}
        {% assign style_position = forloop.index %}
    {% endif %}
{% endfor %}

{% for title in variant_titles %}
    {% assign title_pieces = title | split: ' / ' %}
    {% for piece in title_pieces %}
        {% if forloop.index == color_position %}
            {% unless color_string contains piece %}
                {% assign color_string = color_string | append: ':' | append: piece %}
            {% endunless %}
        {% elsif forloop.index == design_position %}
            {% unless design_string contains piece %}
                {% assign design_string = design_string | append: ':' | append: piece %}
            {% endunless %}
        {% elsif forloop.index == style_position %}
            {% unless style_string contains piece %}
                {% assign style_string = style_string | append: ':' | append: piece %}
            {% endunless %}
        {% endif %}
    {% endfor %}

{% endfor %}

{% assign number_of_colors = color_string | split: ':' | size | minus:1 %}
{% assign number_of_designs = design_string | split: ':' | size | minus:1 %}
{% assign number_of_styles = style_string | split: ':' | size | minus:1 %}
<!--/CUSTOM-->


{% if product-thumbnail %}
  <div class="{% if products_per_row == "2" %}six columns {% cycle 'alpha', 'omega' %}{% elsif products_per_row == "3" %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %}">
{% else %}
  <div class="{% if products_per_row == "2" %}eight columns {% cycle 'alpha', 'omega' %}{% elsif products_per_row == "3" %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} thumbnail {% cycle 'even', 'odd' %}">
{% endif %}

  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <img {% if settings.align_height %}style="max-height:{{ settings.collection_height }}px"{% endif %} src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ alt_text | escape }}" />

    <div class="info">            
      <span class="title">{{ product.title }}</span>
      <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
        {% if product.available %}
          {% if product.price_varies %}
            <small><em>from</em></small>
          {% endif %}
          {{ product.price_min | money }}
        {% else %}
          <span class="sold_out">{{ settings.sold_out_text }} - </span>{{ product.price_min | money }}
        {% endif %}
        {% if product.compare_at_price_max > product.price %}
          <span class="was_price">{{ product.compare_at_price_max | money }}</span>
        {% endif %}
      </span>
      <!--CUSTOM-->
      <div class="sale"><strong>
        {% if number_of_colors > 1 or number_of_designs > 1 or number_of_styles > 1 %}  
          {% if number_of_colors > 1 %}
              {{ number_of_colors }} colors
            
            {% if number_of_designs > 1 or number_of_styles > 1 %} / {% endif %}
          {% endif %}
          {% if number_of_designs > 1 %}
              {{ number_of_designs }} designs
            
            {% if number_of_styles > 1 %} / {% endif %}
          {% endif %}
          {% if number_of_styles > 1 %}
              {{ number_of_styles }} styles
          {% endif %}
        
        {% endif %}
        
        </strong></div>
    </div>
    <!--/CUSTOM-->
    {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
      <div class="sale_banner">Sale</div>
    {% endif %}
    {% for col in product.collections %}
      {% if col.handle == 'new' %}
        <div class="new_banner">New</div>
      {% endif %}
    {% endfor %}
  </a>

  {% if settings.quick_shop_enabled %}
    <a href="#product-{{ product.id }}" class="quick_shop action_button">
      {{ settings.quick_shop_text }}
    </a>

    <div id="product-{{ product.id }}" class="modal">
      <div class="container section" style="width: inherit">
        <div class="eight columns modal_image flex-active-slide">
          <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ alt_text | escape }}" />
        </div>
        <div class="six columns">
          <h3>{{ product.title }}</h3>

          <p class="modal_price">
            <span class="sold_out">{% if product.available == false %}{{ settings.sold_out_text }} - {% endif %}</span>
            <span class="current_price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
              {{ product.price | money }}
            </span>
            <span class="was_price">
              {% if product.price < product.compare_at_price_max %}
                {{ product.compare_at_price | money }} 
              {% endif %}
            </span>
          </p>

          {% include 'product-notify-me' %}

          {% if settings.product_description_position == "top" %}
            {% if settings.quick_shop_full_description %}
              {{ product.description }}
            {% else %}
              <p>
                {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}
              </p>
            {% endif %}
            <p>
              <a href="{{ product.url | within: collection }}" class="view_product_info" title="View {{ product.title | escape }} Details">View full product details &rarr;</a>
            </p>
            <hr />
          {% endif %}
          
          {% include 'product-form' %}

          {% if settings.product_description_position == "bottom" %}
            <hr />
            {% if settings.quick_shop_full_description %}
              {{ product.description | split: '<!-- split -->' | first }}
            {% else %}
              <p>
                {{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', ''  }}
              </p>
            {% endif %}
            <p>
              <a href="{{ product.url | within: collection }}" class="view_product_info" title="View {{ product.title | escape }} Details">View full product details &rarr;</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>